{% set coh_instance_class %}{{ coh_instanceid() }}{% endset %}{{ attach_library('cohesion/global_libraries.responsiveJs') }} {{ attach_library('cohesion/global_libraries.windowscroll') }} {{ attach_library('cohesion/element_templates.link') }} {{ attach_library('cohesion/global_libraries.langcode') }} {{ attach_library('cohesion/global_libraries._core') }} {{ attach_library('cohesion/global_libraries.matchHeight') }} {{ attach_library('cohesion/global_libraries.parallax_scrolling') }} {{ attach_library('cohesion/global_libraries.cohMatchHeights') }} <div class="coh-container ssa-component coh-component ssa-component-instance-{{componentUuid}} coh-component-instance-{{componentUuid}} {{ coh_instance_class }} coh-ce-cpt_h1_underline_top-7ac61561" > <h1 class="coh-heading" {% if user.hasPermission('access visual page builder') and component_content is not defined %} data-ssa-field-uuid="{{ render_field_uuid('87c02d4a-2181-46bd-a8a1-a24c8f82c98c', 'Array') }}" data-ssa-form-type="form-textarea"{% endif %} > {{ getComponentFieldValue("87c02d4a-2181-46bd-a8a1-a24c8f82c98c") | raw }} </h1> <h1 class="coh-heading" {% if user.hasPermission('access visual page builder') and component_content is not defined %} data-ssa-field-uuid="{{ render_field_uuid('da49d91a-818b-44d6-b745-278799362486', 'Array') }}" data-ssa-form-type="form-textarea"{% endif %} > {{ getComponentFieldValue("da49d91a-818b-44d6-b745-278799362486") | raw }} </h1> {% set paragraphContent %}{{ getComponentFieldValue("78b71d7e-acd3-46af-a579-9c9a6a00aa19") | raw }}{% endset %} <p class="coh-paragraph {{ coh_instance_class }} coh-ce-cpt_h1_underline_top-eba494b2" {% if user.hasPermission('access visual page builder') and component_content is not defined %} data-ssa-field-uuid="{{ render_field_uuid('78b71d7e-acd3-46af-a579-9c9a6a00aa19', 'Array') }}" data-ssa-form-type="form-input"{% endif %} > {{- paragraphContent | nl2br -}} </p> </div> 
{% set compiledCSS %}<style>.{{ coh_instance_class }}.coh-ce-cpt_h1_underline_top-7ac61561 {
{% if getComponentFieldValue("3f3c2a2c-1b94-4aad-bc65-0a6eb7a21573") is not empty %}   {% if getComponentFieldValue("3f3c2a2c-1b94-4aad-bc65-0a6eb7a21573") is not empty %} margin-top: {{ getComponentFieldValue("3f3c2a2c-1b94-4aad-bc65-0a6eb7a21573") | raw }};{% endif %}{% endif %}
  margin-right: 12.5rem;
  margin-bottom: 6.25rem;
  margin-left: 12.5rem;
  border-top-style: solid;
  border-top-color: rgb(251, 174, 97);
  border-top-width: 0.1875rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
{% if getComponentFieldValue("428e7445-1fab-436c-9ebd-15252c78d372") is not empty %}   {% if getComponentFieldValue("428e7445-1fab-436c-9ebd-15252c78d372") is not empty %} -webkit-box-align: {{ getComponentFieldValue("428e7445-1fab-436c-9ebd-15252c78d372") | raw }};{% endif %}{% endif %}
{% if getComponentFieldValue("428e7445-1fab-436c-9ebd-15252c78d372") is not empty %}   {% if getComponentFieldValue("428e7445-1fab-436c-9ebd-15252c78d372") is not empty %} -webkit-align-items: {{ getComponentFieldValue("428e7445-1fab-436c-9ebd-15252c78d372") | raw }};{% endif %}{% endif %}
{% if getComponentFieldValue("428e7445-1fab-436c-9ebd-15252c78d372") is not empty %}       {% if getComponentFieldValue("428e7445-1fab-436c-9ebd-15252c78d372") is not empty %} -ms-flex-align: {{ getComponentFieldValue("428e7445-1fab-436c-9ebd-15252c78d372") | raw }};{% endif %}{% endif %}
{% if getComponentFieldValue("428e7445-1fab-436c-9ebd-15252c78d372") is not empty %}           {% if getComponentFieldValue("428e7445-1fab-436c-9ebd-15252c78d372") is not empty %} align-items: {{ getComponentFieldValue("428e7445-1fab-436c-9ebd-15252c78d372") | raw }};{% endif %}{% endif %}
}
.{{ coh_instance_class }}.coh-ce-cpt_h1_underline_top-eba494b2 {
  width: 30%;
{% if getComponentFieldValue("428e7445-1fab-436c-9ebd-15252c78d372") is not empty %}   {% if getComponentFieldValue("428e7445-1fab-436c-9ebd-15252c78d372") is not empty %} text-align: {{ getComponentFieldValue("428e7445-1fab-436c-9ebd-15252c78d372") | raw }};{% endif %}{% endif %}
}
</style>{% endset %}{{ renderInlineStyle(compiledCSS) | raw }}