{% set coh_instance_class %}{{ coh_instanceid() }}{% endset %}{{ attach_library('cohesion/global_libraries.responsiveJs') }} {{ attach_library('cohesion/global_libraries.windowscroll') }} {{ attach_library('cohesion/element_templates.link') }} {{ attach_library('cohesion/element_templates.image') }} {{ attach_library('cohesion/global_libraries.langcode') }} {{ attach_library('cohesion/global_libraries._core') }} {{ attach_library('cohesion/global_libraries.matchHeight') }} {{ attach_library('cohesion/global_libraries.parallax_scrolling') }} {{ attach_library('cohesion/global_libraries.cohMatchHeights') }} <div class="coh-container ssa-component coh-component ssa-component-instance-{{componentUuid}} coh-component-instance-{{componentUuid}} {{ coh_instance_class }} coh-ce-cpt_feature-cbc0b7a5" > <img class="coh-image coh-ce-cpt_feature-8c507962 coh-image-responsive-xl" src="{% set src %}{{ getComponentFieldValue("cb6bba42-dd42-4e28-80fa-9cd140a9419d") | raw }}{% endset %}{% set imagestyle %}{% endset %}{{ cohesion_image_style(src, imagestyle) }}" /> </div> <div class="coh-container ssa-component coh-component ssa-component-instance-{{componentUuid}} coh-component-instance-{{componentUuid}} coh-ce-cpt_feature-cf78dd02" > {% set paragraphContent %}{{ getComponentFieldValue("45c2025b-c2cb-4406-8c75-dae86344ac16") | raw }}{% endset %} <p class="coh-paragraph coh-ce-cpt_feature-4104a118" {% if user.hasPermission('access visual page builder') and component_content is not defined %} data-ssa-field-uuid="{{ render_field_uuid('45c2025b-c2cb-4406-8c75-dae86344ac16', 'Array') }}" data-ssa-form-type="form-input"{% endif %} > {{- paragraphContent | nl2br -}} </p> </div> 
{% set compiledCSS %}<style>.{{ coh_instance_class }}.coh-ce-cpt_feature-cbc0b7a5 {
{% if getComponentFieldValue("922c1687-abbc-485f-b950-c8833c08fc3d") is not empty %}   {% if getComponentFieldValue("922c1687-abbc-485f-b950-c8833c08fc3d") is not empty %} background-color: {{ getComponentFieldValue("922c1687-abbc-485f-b950-c8833c08fc3d") | raw }};{% endif %}{% endif %}
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
</style>{% endset %}{{ renderInlineStyle(compiledCSS) | raw }}